<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--<mapper namespace="com.tuyu.sharding.mappper.ActionLogMapper">-->
<mapper namespace="com.tuyu.sharding.repository.ActionLogRepository">
    <insert id="insertWithId" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `user_action_log`(
        `date`,`name`
        )
        VALUES (
        #{date,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}
        );
    </insert>
</mapper>